# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
GAM300Engine/.vs/GAM300Engine/v16/.suo
*.vs
*x64
GAM300Engine/.vs/GAM300Engine/v17/.suo

GAM300Engine/x64
GAM300Editor/x64
GAM300Game/x64
ScriptApi/x64
ScriptApi/obj
ManagedScripts/obj
/GAM300Engine/bin/Debug-x64/net6.0
ManagedScripts/obj/ManagedScripts.csproj.nuget.dgspec.json
ManagedScripts/obj/ManagedScripts.csproj.nuget.dgspec.json
ManagedScripts/obj/ManagedScripts.csproj.nuget.g.props
ManagedScripts/obj/project.assets.json
scriptDLL/ManagedScripts.deps.json
scriptDLL/ManagedScripts.dll
scriptDLL/ManagedScripts.pdb
scriptDLL/ScriptAPI.dll
scriptDLL/ScriptAPI.pdb
GAM300Editor/_pipeline.cached
